/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #2c3e50; /* Bleu foncé */
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #34495e; /* Bleu foncé (plus clair) */
}

/* Section des produits */
section {
    padding: 50px 0;
}

.product-category h3 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #2c3e50; /* Bleu foncé */
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    background-color: #fff;
    padding: 20px;
    margin: 0 20px 20px 0;
    width: calc(33.33% - 20px);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product h4 {
    margin-top: 0;
    color: #333;
}

.product p {
    margin-bottom: 10px;
}

.product .price {
    font-weight: bold;
    color: #27ae60; /* Vert émeraude */
}

.product button {
    background-color: #27ae60; /* Vert émeraude */
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.product button:hover {
    background-color: #2ecc71; /* Vert émeraude (plus clair) */
}

/* Footer */
footer {
    background-color: #2c3e50; /* Bleu foncé */
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
